<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let user of employees; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{user.name}}</td>
            <td>
                <a href="mailto:{{ user.email }}">
                    {{ user.email }}
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>